
body {
    background: linear-gradient(45deg, #44bba0, #35c5a3, #2ee0b4, #21f1c0, #21f1c0);
    background-size: 800% 800%;
    animation: gradient 20s ease infinite;
    height: 100vh;
    margin: 0;
    font-family: "Ubuntu", serif;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.header {
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 58px;
    color: rgba(255, 255, 255, 0.85);
}

.header_sub {
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 28px;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
}

.main_content {
    height: 100%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content_text {
    color: black;
    max-width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.buttons {
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.link_button {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    appearance: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: 0;
    border: 0;
    transition-duration: .25s;
    color: black;
    font-size: 24px;
}

.padding_area {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main_content_quote {
    color: #464646;
    max-width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

a {
    color: #0f30be;
}

/*mobile*/
@media screen and (max-width: 600px) {
    .main_content {
        margin: 0;
    }
    .main_content_text {
        max-width: 100%;
    }
    .header {
        font-size: 24px;
    }
}

/*bullet points*/
li {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 20px;
}

ol {
    text-align: left;
}

.inner-list {
    list-style-type: circle;
    color: #3f3f3f;
    text-align: left;
}

/*table borders*/
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}
